* {
    margin: 0;
    padding: 0;
}
body {
    overflow:hidden;
}
#splash {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    height: 200px;
    width: 100%;
    font-size: 60px;
    text-align: center;
    line-height: 80px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
#c {
    background-image:url(darkPurple.png);
}
